# R-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# NEON documentation
neon-data/data/documentation

# API token
NEON-API-token*

# word documents
*.docx

# PDF files
*.pdf

# emails
*.msg

# images
*.png
*.jpg
*.jpeg
*.tif

# powerpoint files
*.pptx

# specific folders
infection-modeling/docs
infection-modeling/data/raw-data/Data-for-Clay_copy
meeting-notes/
neon-data/data/eight_sites/biological-temperatures/
neon-data/data/eight_sites/relative-humidity/
neon-data/data/eight_sites/precipitation/